login: &login
 adapter: postgresql
 username: foo
 password: bar
 host: localhost
 port: 5432

development:
 <<: *login
 database: freeagentexporter_development

test:
 <<: *login
 database: freeagentexporter_test

production:
 <<: *login
 database: freeagentexporter_production
