- if current_user.bank_accounts.count > 1
  .ui.floating.labeled.icon.dropdown.button
    %i.icon.money
    %span.text
      = @account.name
      %i.dropdown.icon
    .menu
      .header
        Switch to another bank account
      - current_user.bank_accounts.each do |account|
        .item= link_to account.name, params.merge(account: account)
